<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioGorazdCater</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Arimo|Pontano+Sans|Russo+One">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->

    <header class="page-row">
        <div class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-brand brand-custom logo-container"><a class="brand-text" href="/">Portfolio</a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li class="dropdown">
                            <a href="#" class="dopdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/realized.projects">Realized projects</a></li>
                                <li><a href="/design.studio">Design studio</a></li>
                                <li><a href="/actual.projects">Actual projects</a></li>
                                <li><a href="graphic.design">Graphic design</a></li>
                            </ul>
                        </li>
                        <li><a href="/cv">CV</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact" data-toggle="modal">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<!--PORTFOLIO TABLE-->

    <center><div class="container portfolio-table">

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

         <div class="row content-row">

            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 right down">
                <a href="/realized.projects"><h5 class="rp">REALIZED PROJECTS</h5></a>
            </div>

            <div class="col-md-2 down">
                <a href="/design.studio"><h5 class="ds">DESIGN STUDIO</h5></a>
            </div>
            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 down">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
                <a href="/actual.projects"><h5 class="ap">ACTUAL PROJECTS</h5></a>
            </div>

            <div class="col-md-2">
                <a href="graphic.design"><h5 class="gd">GRAPHIC DESIGN</h5></a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
                <img src="/assets/pictures/0_III_ACTUAL.jpg">
            </div>
            <div class="col-md-2">
                <img src="/assets/pictures/0_III_ACTUAL.jpg">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
                <img src="/assets/pictures/0_III_ACTUAL.jpg">
            </div>
            <div class="col-md-2">
                <img src="/assets/pictures/0_III_ACTUAL.jpg">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

    </div></center>

<!--FOOTER-->

    <footer class="footer">
        <div class="container navbar-footer">
            <a href="#" class="pull-left signature">design: Mojca Franic</a>

            <div align="right" class="icon">
                <a href="#" target="_blank"><img src="/assets/pictures/home.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/at.png"></a>
            </div>
        </div>
    </footer>

</body>
</html>