<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioGorazdCater</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Arimo|Pontano+Sans|Russo+One">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->

    <header class="page-row">
        <div class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-brand brand-custom logo-container"><a class="brand-text" href="/">Portfolio</a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li class="dropdown">
                            <a href="#" class="dopdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/realized.projects">Realized projects</a></li>
                                <li><a href="/design.studio">Design studio</a></li>
                                <li><a href="/actual.projects">Actual projects</a></li>
                                <li><a href="graphic.design">Graphic design</a></li>
                            </ul>
                        </li>
                        <li><a href="/cv">CV</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact" data-toggle="modal">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<!--PORTFOLIO TABLE-->

    <center><div class="container portfolio-table">

        <div class="cross-row">

            <div class="col-xs-3">
            </div>
            <div class="col-xs-3 upper">
            </div>

            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>

        </div>

        <div class="row bigrow">

            <div class="col-xs-2 before">
            </div>
            <div class="col-xs-4 realized">
                <div class="hovereffect">
                    <img class="img-responsive" src="/assets/pictures/0_I_REALIZED.jpg" alt="REALIZED PROJECTS">
                    <div class="overlay">
                        <a href="/realized.projects"><h2>REALIZED PROJECTS</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 studio">
                <a href="/design.studio"> <img class="img-responsive" src="/assets/pictures/0_II_STUDIO.jpg"> </a>
            </div>
            <div class="col-xs-2 after">
            </div>

        </div>

        <div class="row second-row bigrow">

            <div class="col-xs-4 col-sm-offset-2 actual">
                <a href="/actual.projects"> <img class="img-responsive" src="/assets/pictures/0_III_ACTUAL.jpg"> </a>
            </div>

            <div class="col-xs-4 graphic">
                <a href="/graphic.design"> <img class="img-responsive" src="/assets/pictures/0_IV_GRAPHIC.jpg"> </a>
            </div>

        </div>

        <div class="cross-row">

            <div class="col-xs-3">
            </div>
            <div class="col-xs-3 upper">
            </div>

            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>

        </div>

    </div></center>

<!--FOOTER-->

    <footer class="footer">
        <div class="container navbar-footer">
            <a href="#" class="pull-left signature">design: Mojca Franic</a>

            <div align="right" class="icon">
                <a href="#" target="_blank"><img src="/assets/pictures/home.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/at.png"></a>
            </div>
        </div>
    </footer>

</body>
</html>