<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioGorazdCater</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Arimo|Pontano+Sans|Russo+One">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<body>

<!--NAVBAR-->

    <header class="page-row">
        <div class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-brand brand-custom logo-container"><a class="brand-text" href="/">Portfolio</a></div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right navbar-text nav-fade">
                        <li class="dropdown">
                            <a href="#" class="dopdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/realized.projects">Realized projects</a></li>
                                <li><a href="/design.studio">Design studio</a></li>
                                <li><a href="/actual.projects">Actual projects</a></li>
                                <li><a href="graphic.design">Graphic design</a></li>
                            </ul>
                        </li>
                        <li><a href="/cv">CV</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact" data-toggle="modal">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<!--PORTFOLIO TABLE-->

    <center><div class="container portfolio-table">

        <div class="row content-row">

            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#lightbox1" data-toggle="modal"><img src="/assets/pictures/0_I_REALIZED.jpg"></a></li> <!--GALERIJA 1 KATEGORIJA REALIZED-->
                </ul>
            </div>
            <div class="col-md-2">
                <img src="/assets/pictures/0_I_REALIZED.jpg">
            </div>
            <div class="col-md-2 right">
                <img src="/assets/pictures/0_I_REALIZED.jpg">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
                <img src="/assets/pictures/0_I_REALIZED.jpg">
            </div>
            <div class="col-md-2">
                <img src="/assets/pictures/0_I_REALIZED.jpg">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

         <div class="row content-row">

            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 right down">
                <a href="/realized.projects"><h5 class="rp">REALIZED PROJECTS</h5></a>
            </div>

            <div class="col-md-2 down">
                <a href="/design.studio"><h5 class="ds">DESIGN STUDIO</h5></a>
            </div>
            <div class="col-md-2 down">
            </div>
            <div class="col-md-2 down">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
                <a href="/actual.projects"><h5 class="ap">ACTUAL PROJECTS</h5></a>
            </div>

            <div class="col-md-2">
                <a href="graphic.design"><h5 class="gd">GRAPHIC DESIGN</h5></a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>

        <div class="row content-row">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2 right">
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>

        </div>



    </div></center>

<!--GALERIJA 1 KATEGORIJA REALIZED-->

        <div class="modal fade and carousel slide" id="lightbox1" data-interval="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <ol class="carousel-indicators">
                            <li data-target="#lightbox1" data-slide-to="0" class="active"></li>
                            <li data-target="#lightbox1" data-slide-to="1"></li>
                            <li data-target="#lightbox1" data-slide-to="2"></li>
                            <li data-target="#lightbox1" data-slide-to="3"></li>
                            <li data-target="#lightbox1" data-slide-to="4"></li>
                            <li data-target="#lightbox1" data-slide-to="5"></li>
                            <li data-target="#lightbox1" data-slide-to="6"></li>
                            <li data-target="#lightbox1" data-slide-to="7"></li>
                            <li data-target="#lightbox1" data-slide-to="8"></li>
                            <li data-target="#lightbox1" data-slide-to="9"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                    <img src="/assets/pictures/REALIZED1/PF_ZK_00_Vizualizacije_Eksterier.jpg" alt="First slide">
                                <div class="carousel-caption">
                                    <h5>LIVING BETWEEN PARKS</h5>
                                    <p>Ljubljana, Slovenia</p>
                                    <p>author + co-author: Davor Jerman</p>
                                </div>
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/PF_ZK_01_Koncept.jpg" alt="Second slide">
                                <div class="carousel-caption">
                                    <p>Renovation of middle 20th century industrial complex in residential neighborhood in southern part of Ljubljana was designed and ???
                                        as "co-living community" project with clear intentions to offer affordable, but also meaningful? and ??? living through the years.</p>
                                </div>
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_02_Prostorska predstavitev.jpg" alt="Third slide">
                                <div class="carousel-caption">
                                    <p>The project focused on two existing parks, which we attempted to bind with several connections through our building: physically
                                        with two passage and additionally with middle object made of glass, which represent also our main entrance, bar and co-working spaces.</p>
                                </div>
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_03_Aksonometrija tipologije.jpg" alt="Fourth slide">
                                <div class="carousel-caption">
                                    <p>Distinctive characteristic of our design of each housing unit: living room and kitchen ara located in ground floor and have both east and
                                        west terraces, which simulate the flow through our building. In upper levels there are sleeping quarters with very flexible ground plan, which
                                        allow us to adjust to current spatial needs.</p>
                                </div>
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_04_Situacija.jpg" alt="Fifth slide">
                                <div class="carousel-caption">
                                    <p>Renovation works are kept to minimum: we keep the concrete (skeletna?)construction together with vertical communications, we add new facade cladding
                                        in energetical efficient standard.</p>
                                </div>
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_05_Tloris pritlicja.jpg" alt="Sixth slide">
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_06_Tloris nadstropja.jpg" alt="Seventh slide">
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_07_Fasada.jpg" alt="Eight slide">
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_08_Fasadni pas.jpg" alt="Ninth slide">
                            </div>
                            <div class="item">
                              <img src="/assets/pictures/REALIZED1/ZK_09_Maketa.jpg" alt="Tenth slide">
                            </div>
                        </div><!-- /.carousel-inner -->
                          <a class="left carousel-control" href="#lightbox1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                          </a>
                          <a class="right carousel-control" href="#lightbox1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>
                    </div><!-- /.modal-body -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!--FOOTER-->

    <footer class="footer">
        <div class="container navbar-footer">
            <a href="#" class="pull-left signature">design: Mojca Franic</a>

            <div align="right" class="icon">
                <a href="#" target="_blank"><img src="/assets/pictures/home.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/linkedin.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/at.png"></a>
            </div>
        </div>
    </footer>

</body>
</html>